<p id="notice"><%= notice %></p>

<h1>Listing Campaigns</h1>


<table class="table ">
  <thead>
  <tr>
    <!--<th>Subject Line</th>-->
    <th>Title</th>
    <th>API Key</th>
    <!--<th>From name</th>-->
    <!--<th>Reply to</th>-->
    <th colspan="2">Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @campaigns.each do |campaign| %>
    <tr>
      <!--<td><%= campaign.subject_line %></td>-->
      <td><%= campaign.title %></td>
      <td><%= campaign.api_key %></td>
      <!--<td><%= campaign.from_name %></td>-->
      <!--<td><%= campaign.reply_to %></td>-->
      <td>
        <%= link_to 'Show', campaign %> |
        <%= link_to 'Edit', edit_campaign_path(campaign) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign', new_campaign_path, {class: 'btn btn-primary'} %>
